body{
    background-color: #538077;
}

.setting{
    margin: auto;
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 30px;
}

.titlebar1{
    background: coral;
    border-radius: 5px 5px 5px 5px;
    padding: 20px;
}

.titlebar2{
    background: rgb(155, 216, 95);
    border-radius: 5px 5px 5px 5px;
    padding: 20px;
}