body{
    background-color: #538077;
}
.jumbotron{
    background-color: #6bd4be;
}
.file-upload{
    height: 70px;
    width: auto;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    margin-left: 50px;
}

.file-upload__input {
    display: none;
}

.file-upload__button{
    width: auto;
    margin: 0 auto;
    -webkit-appearance: none;
    background:  rgb(190, 82, 82);
    border: 2px solid  white;
    border-radius: 4px;
    outline: none;
    padding: 0.8em 0.9em;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.file-upload__button:active{
    background:rgb(83, 47, 47);
}
.file-upload__label {
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#testcase{
    margin-left: 50px;
}
#result{
    visibility: hidden;
    margin-left: 50px;
}

#output{
    height: 150px;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    background-color: white;
    visibility: hidden;
}
#output_container{
    padding: 10px;
}
#run{
    padding: 50px;
}
#code-box{
    padding: 10px;
    margin-left: 40px;
}
